body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* BACKGROUND VIDEO */
#myVideo {
    position: fixed;
    z-index: -1;
}

#header {
    background-color: #4aaaa5;
    border: black solid thin;
    color: white;
    margin-left: 16.6%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-toggler-icon {
    background-color: #4aaaa5;
    border: black solid 3px;
    height: 30px;
    width: 30px;
}

/* PORTFOLIO IMAGE CARDS */
.card {
    width: 50%;
    height: 50%;
    margin: auto;
}

#workDayScheduler {
    border: thick solid #4aaaa5;
}

#projectOne {
    border: thick solid #4aaaa5;
}

#codeQuiz {
    border: thick solid #4aaaa5;

}

/* paragraph for index.html */
p {
    color: #777777;
    text-align: center;

}

/* subheader for contact page */
h3 {
    color: #4aaaa5;
    clear: both;
    margin-left: 50px;
    height: -150px;
    font-size: 30px;
    margin-left: 1%;
}

#links {
    margin: 0 auto;
    margin-right: auto;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

/* about link */
#about {
    border-right: #777777 solid 1px;
    border-spacing: 20px;
    margin-right: 20px;
    padding-right: 20px;
    color: #777777;
}

/* portfolio link */
#portfolio {
    border-right: #777777 solid 1px;
    border-spacing: 20px;
    margin-right: 20px;
    padding-right: 20px;
    color: #777777;
}

/* contact link */
#contact {
    padding-right: 16.6%;
    color: #777777;

}

/* contact form div */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* submit button on contact page*/
#button {
    background-color: #4aaaa5;
    font-size: 15px;
    color: white;
}

/* main content div for contact page */
.my-container {
    background-color: #ffffff;
    width: 66.6%;
    height: 66.6%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: thin;
    border-style: solid;
    border-color: #dddddd;
}

.container-fluid {

    text-align: center;
}

ul {
    list-style: none;
    color: white;
}

h1 {
    color: white;
}

h5 {
    color: white;
}

#cardTitle {
    color: #666666;
}

/* footer for contact/portfolio pages */
footer {
    background-color: #666666;
    text-align: center;
    padding-bottom: -20px;
    margin-top: 20px;
    height: 35px;
    color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #4aaaa5;

}

/* BACKGROUND VIDEO */
@media (min-aspect-ratio: 16/9) {
    #myVideo {
        width:100%;
        height: auto;
    }

    @media (max-aspect-ratio: 16/9) {
        #myVideo { 
            width:auto;
            height: 100%;
        }
    }

    @media (max-width: 767px) {
        #myVideo {
            display: none;
        }
        body {
            background: url('poster.jpg');
            background-size: cover;
        }
    }

/* Greater than 641px and less than 990px, Tablet */
@media (min-width:641px) and (max-width:990px) {
    body {
        text-align: center;
    }

}

/* Less than 640px, Mobile */
@media screen and (max-width:641px) {
    body {
        text-align: center;
    }
}
